<!DOCTYPE html>
<html>
<head>
    <title>Vehicles</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="overlay">

<h1>Select Your Vehicle</h1>

<div class="cars">

    <div class="car">
        <h2>Mercedes Vito</h2>
        <p>5 Passenger</p>
        <p>50$</p>
        <button>Select</button>
    </div>

    <div class="car">
        <h2>VIP Minivan</h2>
        <p>10 Passenger</p>
        <p>80$</p>
        <button>Select</button>
    </div>

    <div class="car">
        <h2>Luxury Sedan</h2>
        <p>5 Passenger</p>
        <p>40$</p>
        <button>Select</button>
    </div>

</div>

</div>

</body>
</html>